$navbar-shadow-color:rgb(241, 241, 241);
.navbar {
  background-color: white;
  height: var(--navbar-height);
  display: grid;
  grid-template-columns: calc(var(--sidebar-width) - 1.5rem) 1fr 50px auto;
  align-items: center;
  padding-inline: 1rem;
}
.navbar__left {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
}

.navbar__center {
  grid-template-columns: var(--search-box-width) 1fr;

  align-items: center;
  height: auto;
  display: grid;
}

.navbar__right {
}
.menu_list {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}
