.video_item {
    gap: 1rem;
    display: flex;
    flex-direction: column;
  &__title {
    display: grid;
    grid-template-columns: 1fr 40px;
    h1{
        font-size: 16px;
    }
  }
  &__meta{
    display: grid;
    grid-template-columns: 46px 1fr auto;
    &__avatar{
        width: 36px;
        overflow: hidden;
        aspect-ratio: 1/1;
        border-radius: 100%;
        img{
            width: 36px;
        }
    }
  }
  &__thumbnail {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    img {
      aspect-ratio: 16/9;
    }
  }
}
